*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    font-family: 'Alfa Slab One', cursive;
    max-width: 100vw;
}


a{
    text-decoration: none;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

ul.menu li{
    list-style: none;
    display: inline-block;
    font-size: 15px;
    border: 2px black solid;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    background-color: white;
    margin: 30px;
    overflow: visible;
    vertical-align: auto;
    padding-top: 15px;
}

a:hover {
    color: red;
}

.menu{
    float:right;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

.yellow{
    background-color: yellow;
}
.section{
    width: 100vw;
    height: 100vh;
    position: relative;
}

.shouse{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1.claim-text{
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    padding: 30px;
    
}
.yl-font{
    color: yellow;
}

#green-text{
    color: green;
}

.claim{
    height: 100px;
    width: 600px;
    position: absolute;
    left: 50%;
    top: 85%;
    transform: translate(-50%, -85%);
    margin-top: 20px;
}